h1{
    text-align: center;

}
.marcador{ 
    
    height: 25px;
    width: 250px;
    /*
    Cuando la propiedad margin tiene dos valores, 
    el primer valor corresponde a margin-top y
     margin-bottom y el segundo valor corresponde
      a margin-left y margin-right.
  */
    margin: 10px auto;
}

.red {
    background: linear-gradient(90deg, rgb(255, 0, 0),rgb(0,255,0));
  }
.green{
    background: linear-gradient(90deg,#973131,#E0A75E,#F9D689,#F5E7B2);
}
.blue{
    background-color: rgb(0, 0, 255);
}
.container{
    background-color: rgb(255   , 255, 255);
    padding: 10px 0;
    
}