h1{
    text-align: center;

}
.marcador{ 
    
    height: 25px;
    width: 250px;
    /*
    Cuando la propiedad margin tiene dos valores, 
    el primer valor corresponde a margin-top y
     margin-bottom y el segundo valor corresponde
      a margin-left y margin-right.
  */
    margin: 10px auto;
}

.red {
    background: linear-gradient( rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  }
  
  .green {
    background: linear-gradient( #55680D, #71F53E, #116C31);
  }
.blue{
    background-color: rgb(0, 0, 255);
}
.container{
    background-color: rgb(255   , 255, 255);
    padding: 10px 0;
    
}